body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: "Segoe",sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.content{
    max-width: 945px;
    margin-top: 65px;
    background: #F6F6F6;
    height: 297px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}
.titleQuestion{
    color: #383838;
    max-width: 787px;
    font-family: "Segoe bold",sans-serif;
}
.answer{
    border-bottom: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    font-size: 15px;
    max-width: 945px;
    margin-top: 67px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}
.listQuestionTitle{
    font-size: 24px;
    color: #383838;
    font-weight: 600;
    width: 90%;
    margin-top: 0;
    font-family: "Segoe",sans-serif;
}
.numberBlack{
    background: black;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.titleAnswer{
    display: flex;
    width: 100%;
    min-width: 945px;
    padding-top: 20px;
    align-items: center;
}
.subAnswerP{
    padding-left: 30px;
    color: #383838;
    font-size: 18px;
    line-height: 26px;
    font-family: "Segoe",sans-serif;
    list-style-type: none;
}
@font-face {
    font-family: "Segoe";
    src: url("../fonts/SegoeUIVariableStaticDisplay.ttf");
}
@font-face {
    font-family: "Segoe bold";
    src: url("../fonts/SegoeUIVariableStaticDisplayBold.ttf");
}
@font-face {
    font-family: "Segoe semibold";
    src: url("../fonts/SegoeUIVariableStaticDisplaySemibold.ttf");
}